.containerS {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #333;
}
p {
    line-height: 1.6;
}
.sectionS {
    margin-bottom: 20px;
}
.emojiS {
    font-size: 1.2em;
}
.timelineS {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}
.timelineS p {
    margin: 5px 0;
}